# Python cache
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
.env/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

